<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>regulation</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="user/common::nav"></div>


<div class="container-fluid">
    <div class="row">
        <!--左边菜单栏-->
        <div th:replace="user/common::left"></div>

        <div class="col-sm-10" id="right">
            <div class="panel panel-default">
                <div class="panel-heading">
                    搜索
                </div>
                <div class="panel-body">
                    <form role="form" class="form-inline" th:action="@{/selectRepairinfo}">
                        <div class="form-group">
                            <label for="uprepairid">编号</label>
                            <input type="text" class="form-control" id="uprepairid" name="uprepairid" placeholder="请输入维修信息编号">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">开始搜索</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--
                列表展示
            -->
            <div class="table-responsive">
                <table class="table table-striped ">
                    <caption>报修信息</caption>
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>报修时间</th>
                        <th>报修人</th>
                        <th>学工号</th>
                        <th>地点</th>
                        <th>详细信息</th>
                        <th>电话</th>
                        <th>状态</th>
<!--                        <th>操作</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="repairinfo:${repairinfos.records}">
                        <td th:text="${repairinfo.id}"></td>
                        <td th:text="${#dates.format(repairinfo.subtime, 'yyyy-MM-dd HH:mm')}"></td>
                        <td th:text="${repairinfo.name}"></td>
                        <td th:text="${repairinfo.number}"></td>
                        <td th:text="${repairinfo.address}"></td>
                        <td th:text="${repairinfo.info}"></td>
                        <td th:text="${repairinfo.phone}"></td>
                        <td th:switch="${repairinfo.status}">
                            <p th:case='0' th:text="待办"></p>
                            <p th:case='1' th:text="已修"></p>
                        </td>
<!--                        <td>-->
<!--                            <div class="btn-group">-->
<!--&lt;!&ndash;                                <a th:href="@{/updateinfo(id=${repairinfo.id},pn=${repairinfos.current})}" class="btn btn-info">修改</a>&ndash;&gt;-->
<!--                                <a th:href="@{/deleteinfo(id=${repairinfo.id},pn=${repairinfos.current})}" class="btn btn-danger">删除</a>-->
<!--                            </div>-->

<!--                        </td>-->
                    </tr>

                    </tbody>
                </table>
            </div>
            <ul class="pagination" style="float: right;">
                <li>
                    <a href="#"class="disabled">Prev</a>
                </li>
                <li th:class="${num==repairinfos.current?'active':''}" th:each="num:${#numbers.sequence(1,repairinfos.pages)}">
                    <a th:href="@{/userlistinfo(pn=${num})}" th:text="${num}"></a>
                </li>
                <li>
                    <a href="#" class="disabled">Next</a>
                </li>
            </ul>

        </div>
    </div>
</div>
<!-- 底部页脚部分 -->
<div th:replace="user/common::footer">

</div>
</body>



</html>