<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--顶部栏-->
<nav class="navbar navbar-default" role="navigation" th:fragment="nav">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
      <ul class="nav navbar-nav">
        <li class=""><a class="icon-bar" href="#">维修系统</a>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/exit}">退出</a></li>
      </ul>
    </div>
  </div>
</nav>
<!--左侧的导航栏-->
<!--<div class="col-sm-2" id="menulist" th:fragment="left">-->
<!--  <div class="list-group">-->

<!--  </div>-->
<!--  <a th:href="@{/hello}" class="list-group-item " >欢迎</a>-->
<!--  <a class="list-group-item" data-toggle="collapse" data-parent="#menulist" th:href="@{#collapseOne}">员工信息</a>-->
<!--  <a th:href="@{/list}" class="list-group-item panel-collapse collapse in" id="collapseOne" >员工信息</a>-->
<!--  <a th:href="@{/add}" class="list-group-item" >添加员工</a>-->
<!--  <a th:href="@{/repairinfo}" class="list-group-item" >报修信息</a>-->

<!--底部页脚-->
<div class="col-sm-2" id="menulist" th:fragment="left">
  <div class="panel panel-default">
    <div class="panel-heading "><a style='color:black' th:href="@{/hello}">欢迎</a></div>

    <div class="panel-heading">员工管理</div>
    <ul class="list-group">
      <li class="list-group-item"><a th:href="@{/list}">员工信息</a></li>
      <li class="list-group-item"><a th:href="@{/goadd}">添加员工</a></li>
      <li class="list-group-item"><a th:href="@{/goselect}">查找员工</a></li>
    </ul>
    <div class="panel-heading">维修管理</div>
    <ul class="list-group">
      <li class="list-group-item"><a th:href="@{/listinfo}">报修信息</a></li>
      <li class="list-group-item"><a th:href="@{/gosend}">报修通知</a></li>
    </ul>
    <div class="panel-heading">订单管理</div>
    <ul class="list-group">
      <li class="list-group-item"><a th:href="@{/listorder}">订单信息</a></li>
      <li class="list-group-item"><a th:href="@{/goaddorder}">发布订单</a></li>
    </ul>
  </div>
</div>
<div class="footer" th:fragment="footer">
  <p class="text-center">
    2022 &copy; qrrk.
  </p>
</div>
</body>
</html>